<div class="container my-5">
    <div class="row d-flex align-items-center">
        <div class="d-none d-lg-block col-lg-3 text-start">
            <button [routerLink]="['/']" class="btn btn-primary btn-lg d-inline-block" *ngIf="isBackBtn">← Back</button>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <img src="/assets/International_Pokemon_logo.svg" class="logo" alt="Pokémon logo" [routerLink]="['']">
        </div>
        <div class="col-12 col-sm-6 col-lg-3 text-center text-sm-end">
            <button class="btn btn-primary btn-lg" [routerLink]="['cart']">
                <app-cart-state [defaultString]="true"></app-cart-state>
            </button>
        </div>
    </div>
</div>