.body-bg{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.body-bg > img{
    min-width: 100%;
    min-height: 100%;
}

main{
    z-index: 2;
}