.body-bg{
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes bgBlur {
    from {
        filter: blur(0);
    }
    50% {
        filter: blur(1rem);
    }
    to {
        filter: blur(0);
    }
}

.body-bg > img{
    min-width: 120%;
    min-height: 120%;
    animation: bgBlur 30s infinite linear reverse;
    animation-delay: 2.5s;
    transform: translate(-10%,-10%);
}

main{
    z-index: 2;
}