@import "./assets/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Pokemon';
    src:url('./assets/fonts/pokemon/Pokemon-Normal.ttf.woff') format('woff'),
        url('./assets/fonts/pokemon/Pokemon-Normal.ttf.svg#Pokemon-Normal') format('svg'),
        url('./assets/fonts/pokemon/Pokemon-Normal.ttf.eot'),
        url('./assets/fonts/pokemon/Pokemon-Normal.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Pokemon', sans-serif;
    letter-spacing: .1em;
}

svg.ico{
    height: 1em;
    width: auto;
    display: inline-block;
}
svg.ico.fill-current-color {
    fill: currentColor;
}
svg.ico.stroke-current-color {
    stroke: currentColor;
}